<h2>インストール(for Internet Explorer)</h2>

<div class="notice">
<p>使っているブラウザが Internet Explorer でない場合は、以下から選び直してください。</p>

<ul>
  <li><%= link_to 'Firefox', :controller => 'top', :action => 'install', :browser => 'firefox' %></li>
  <li><%= link_to 'Safari', :controller => 'top', :action => 'install', :browser => 'safari' %></li>
</ul>
</div>

<p>Libron を利用するには　Firefox　と、その拡張機能である Greasemonkey が必要です。</p>

<p>Firefox はパフォーマンスに優れ、「アドオン」と呼ばれる様々な拡張機能が使える高機能ブラウザです。この機会にブラウザを Firefox に移行してみてはいかがでしょう？</p>

<a href="http://getfirefox.jp/" title="Firefox ブラウザ無料ダウンロード"><img src="http://getfirefox.jp/b/120x90_1_orange" alt="Firefox ブラウザ無料ダウンロード" border="0" /></a>

<div class="title" style="margin-top:10px;">参考:</div>
<ul>
<li><a target="_blank" href="http://pc.nikkeibp.co.jp/article/knowhow/20080820/1007175/">日経 PC Online - IEからFirefoxに移行するには：トラブル解決お答えします</a></li>
</ul>

<p>以下は Firefox ユーザーの方への説明です。</p>

<div class="section">
<h3 class="border-bottom">1. Greasemonkey のインストール</h3>

<p>Libron を利用するには Firefox の拡張機能 Greasemonkey が必要です。</p>

<p>Greasemonkey をインストールしていない場合は、以下よりダウンロードおよびインストールをおこなってください。</p>

<a href="https://addons.mozilla.org/ja/firefox/addon/748" target="_blank"><%= image_tag 'gm_icon.png', :border => 0 %></a> <a href="https://addons.mozilla.org/ja/firefox/addon/748" target="_blank">Greasemonkey</a>
</div>

<div class="section">
<h3 class="border-bottom">2. Libron のインストール</h3>
<p>以下をクリックし、Libron の Greasemonkey スクリプトをインストールすれば完了です。</p>
<%= image_tag 'cog.png' %> <%= link_to 'libron.user.js', 'http://github.com/champierre/libron/raw/master/libron.user.js', :target => "_blank" %>
</div>

<div class="spacer"></div>


