<!-- ===============================
	Main Area
=============================== -->
<div id="main-area">
<h1><%= image_tag "images-subpage/h1_howtouse.png", alt: "つかいかた", width: "650", height: "72" %></h1>

<p>Libron は Amazon のページから最寄りの図書館の蔵書を検索できる便利なツールです。<br />
ブラウザにインストールしてAmazonにアクセスするだけで、すぐにご利用できます。</p>
<p><%= link_to '» インストール方法はこちらをご覧ください。', :controller => :top, :action => :install %></p>

<%= render :partial => 'shared/demo_movie' %>

<div class="flow">
<h2 class="num1">Libronをインストールした状態で、Amazonにアクセスします。</h2>
<p><%= image_tag "images-subpage/libron1.png", alt: "Amazonのトップページ" %></p>

<h2 class="num2">画面右上の「変更」をクリックし、最寄の図書館を選択します。</h2>
<p><%= image_tag "images-subpage/libron2.png", alt: "画面右上のプルダウンから選択" %></p>

<h2 class="num3">本を検索します。</h2>
<p><%= image_tag "images-subpage/libron3.png", width: "478", height: "90", alt: "本を検索" %></p>

<h2 class="num4">図書館のページにジャンプします。</h2>
<p><%= image_tag "images-subpage/libron4.png", width: "600", alt: "図書館ページへのリンクをクリック" %></p>
<!-- /div.flow --></div>
<!-- /div#main-area --></div
