<!-- ===============================
	Main Area
=============================== -->
<div id="main-area">
<h1><%= image_tag "/images/images-subpage/h1_howtouse.png", alt: "つかいかた", width: "650", height: "72" %></h1>

<p>Libron は Amazon のページから最寄りの図書館の蔵書を検索できる便利なツールです。<br />
ブラウザにインストールしてAmazonにアクセスするだけで、すぐにご利用できます。</p>
<p><%= link_to '» インストール方法はこちらをご覧ください。', :controller => :top, :action => :install %></p>

<%#= render :partial => 'shared/demo_movie' %>

<div class="flow">
<h2 class="num1">拡張機能バーのLibronのアイコンをクリックします。</h2>
<p><%= image_tag "/images/usage/libron_icon.png", alt: "拡張機能バーのLibronのアイコン" %></p>

<h2 class="num2">図書館設定画面が開くので「変更」リンクをクリックします。</h2>
<p><%= image_tag "/images/usage/popup.png", alt: "「変更」リンクをクリック" %></p>
	
<h2 class="num3">最寄りの図書館を選択し「保存」ボタンをクリックします</h2>
<p><%= image_tag "/images/usage/popup2.png", alt: "最寄りの図書館を選択" %></p>

<h2 class="num4">本を検索します。</h2>
<p><%= image_tag "/images/usage/amazon_search_bar.png", alt: "本を検索" %></p>

<h2 class="num5">図書館にその本があれば図書館ページへのリンクが表示されます。</h2>
<p><%= image_tag "/images/usage/amazon_page.png", alt: "図書館ページへのリンクをクリック" %></p>
<!-- /div.flow --></div>
<!-- /div#main-area --></div
