<!-- ***********************************************
	Footer
*********************************************** -->
<div id="footer">
<span style="font-size:14px;"><%= link_to 'お問い合わせ', :controller => :top, :action => :contact %> | <%= link_to 'プライバシーポリシー', :controller => :top, :action => :pp %></span><br>
<address>© 2010<%= Time.now.year == 2010 ? '' : "-#{Time.now.year}" %> <a href="https://tsukurusha.com/" target="_blank">Tsukurusha, LLC.</a> All Rights Reserved. Designed by <%= link_to '前田製作所', 'https://maedaseisaku.com/', :target => '_blank' %> in Mitaka(<%= link_to '使用前', :controller => 'old' %>)</address>
<ul>
<li>
<li>図書館API by <%= link_to image_tag('/images/calil_banner.gif'), 'https://calil.jp' %></li>
<li>Icons by <a href="http://www.famfamfam.com" target="_blank">famfamfam.com</a>, <a href="https://www.deviantart.com/brsev" target="_blank">Brsev</a></li>
<li>Special Thanks to <a href="http://pgcafe.net/" target="_blank">三鷹プログラマーズカフェ</a></li>
</ul>
<!-- div#footer --></div>
