<% if !@no_navigation_menu %>
<ul id="navigation">
  <li>
    <%= link_to controller: :top, action: :index do %>
      <%= image_tag '/images/nav_home.png', alt: "ホーム", width: "192", height: "40", class: "rollover" %>
    <% end %>
  </li>
  <li>
    <%= link_to controller: :top, action: :usage do %>
      <%= image_tag "/images/nav_howtouse#{params[:action] == 'install' ? '' : '_over'}.png", alt: "つかいかた", width: "191", height: "40", class: params[:action] == 'install' ? "rollover" : "" %>
    <% end %>
  </li>
  <li>
    <%= link_to controller: :top, action: :install do %>
      <%= image_tag "/images/nav_howtoinstall#{params[:action] == 'install' ? '_over' : ''}.png", alt: "インストール方法", width: "191", height: "40", class: params[:action] == 'install' ? "" : "rollover" %>
    <% end %>
  </li>
</ul>
<% end %>
