<!-- ===============================
	Navigation
=============================== -->
<div id="navigation">
<ul class="clearfix">
<li>
  <%= link_to controller: :top, action: :usage do %>
	  <%= image_tag "images-home/btn_howtouse.png", alt: "つかいかた", width: "324", height: "95", class: "rollover" %>
	<% end %>
</li>
<li>
  <%= link_to controller: :top, action: :install do %>
	  <%= image_tag "images-home/btn_howtoinstall.png", alt: "インストール方法", width: "324", height: "95", class: "rollover" %>
	<% end %>
</li>
<li class="last">
<ol class="download">
<li class="upperline"><a href="<%= $CHROME_EXTENSION_URL %>" target="_blank"><%= image_tag "images-home/btn_dl_chrome.png", alt: "Chrome Extension版をダウンロード", title: "Chrome Extension版をダウンロード", width: "118", height: "44", class: "rollover" %></a></li>
<li class="upperline even"><a href="/top/install?browser=Firefox" target="_blank"><%= image_tag "images-home/btn_dl_firefox.png", alt: "Firefox Greasemonkey 版をダウンロード", title: "Firefox Greasemonkey 版をダウンロード", width: "118", height: "44", class: "rollover" %></a></li>
</ol>
</li>
</ul>
<!-- /div#navigation --></div>
